.container{
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
.box{
    color: #F50808;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
}
.container1{
    width: 1400px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-box{
    padding-left: 15%;
}
p{
    width: 525px;
    
}
.container-box1{
    background: #EBEBF0;
    height:439px;

    display: flex;
    column-gap: 10px;
    padding-left:15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 0 auto;
}


ul,li{
    list-style-type: none;
  }
  .text-box2{
      display: flex;
      width: 500px;
      height: 253px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 35px;
      flex-shrink: 0;
     
  }
  .box-2{
      margin-top: 10px;
      color: #1B24F4;
      text-align: center;
      font-family: BPG Nino Mtavruli;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  .box2{
      padding: 0;
      margin: 0;
      margin-top: -40px;
      list-style: none;
      display: flex;
  }
  .text{
      color: #0D69A9;
      text-align: center;
      font-family: BPG Nino Mtavruli;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  .text-1{
      color: #000;
      font-family: BPG Nino Mtavruli;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .box3{
      padding: 0;
      margin: 0;
      margin-top: -30px;
      list-style: none;
      display: flex;
  }
  
  .box4{
      padding: 0;
      margin: 0;
      margin-top: -30px;
      list-style: none;
      display: flex;
  }
  .map{
    width: 680px;
    height:370px;
  }
  .container-contact{
    background-color: blue;
    box-sizing: border-box;
}
.nav1{
    height: 160px;
    display: flex;
    align-items: center;
    padding-left: 130px;
}
.text2{
    color: aliceblue;
    padding-right: 130px;
}